name: Checks
on: [ pull_request ]
jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: start mysql
        run: sudo systemctl start mysql.service
      - name: create database
        run: mysql -uroot -h127.0.0.1 -proot -e 'CREATE DATABASE IF NOT EXISTS testing;'
      - name: install mysql
        run: sudo apt install -y php-mysql

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Run tests
        run: |
          cp .env.example .env
          php artisan key:generate
          php vendor/bin/phpunit
      - name: delete database
        run: mysql -uroot -h127.0.0.1 -proot -e "drop database testing;"
      - name: stop mysql
        run: sudo systemctl stop mysql.service
